@media (min-width: 1600px) {
  .navbar {
    justify-content: space-evenly
  }

  .sec2,
  .our-project,
  footer {
    padding: 50px 200px;
  }
}


@media (max-width: 1024px) {
  .nav-item {
    gap: 0;
  }

  .menu-button-container {
    display: flex;
    align-items: center;
    height: 30px;
  }

  .main-page {
    background: url(/main-truck.JPEG) 0% 100% no-repeat,
      url(/mainPage-2.jpg) 100% 80% repeat-x;
    background-size: contain;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 120px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: end;
  }

  #menu-toggle~.menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked~.menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.4em;
    border-radius: 20px 0 0 20px;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu>li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 300px;
    color: white;
    background-color: #050505;
  }

  .menu>li:not(:last-child) {
    border-bottom: 1px solid #A38558;
  }

  .about-company {
    align-items: center;
  }

  .page-title {
    font-size: 50px;
  }

  .description-title {
    font-size: 20px;
    text-align: center;

  }

  .about-company {
    margin-left: 0;
    margin-bottom: 20%;
  }

  .min {
    font-size: 30px;
    line-height: 35px;
  }

  .description-box {
    padding: 0;
    gap: 15px;
  }

  .project-box {
    flex-direction: column;
  }

  .sec2 {
    gap: 20px;
  }

  .box-img {
    height: 100%;
  }

  .foto-logo {
    width: 60px;
    height: 60px;
  }

  .page-title2 {
    font-size: 35px;
  }

  .advantage-item h3,
  .consept-item h3 {
    font-size: 20px;
  }

  .advantage-item p,
  .consept-item p,
  .our-project p {
    font-size: 15px;
  }

  .back-foto p,
  .grey-discrip {
    font-size: 17px;
  }

  .social-net {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .main-page {
    background: url(/main-truck.JPEG) 0% 100% no-repeat,
      rgb(76 76 74) 100% 80% repeat-x;
    background-size: contain;
  }

  .page-title2,
  .min {
    font-size: 25px;
    text-align: center;
    line-height: 30px;
  }

  .advantage-item h3,
  .consept-item h3 {
    font-size: 17px;
  }

  .advantage-item p,
  .consept-item p,
  .our-project p {
    font-size: 15px;
  }

  .back-foto p,
  .grey-discrip {
    font-size: 17px;
    text-align: center;
    width: 100%;
  }

  .nuans {
    font-size: 16px;
  }

  .line {
    height: 180%;
  }

  .line-more {
    height: 250%;
  }

  .consept-item {
    margin: 20px 0;
  }

  .text-logo {
    display: none;
  }

  .box-img {
    display: none;
  }

  .description-box {
    align-items: center;
  }

  .but-white,
  .button-col {
    padding: 15px 60px;
  }

  .box {
    padding-top: 20px;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .page-title {
    font-size: 25px;
    line-height: 35px;
    text-align: justify;
  }

  .description-title {
    font-size: 15px;
  }

  .about-company {
    padding: 20px;
  }

  .menu {
    font-size: 13px;
  }

  .back-foto {
    height: 400px;
    gap: 20px;
  }

  .consept-item p {
    width: 100%;
  }

  .menu-button::before {
    content: '';
    margin-top: -10px;
  }

  .menu-button::after {
    content: '';
    margin-top: 10px;
  }

  .menu-button,
  .menu-button::before,
  .menu-button::after {
    height: 5px;
    width: 40px;
  }

  .form {
    height: 100%;
    gap: 20px;
  }

  .form-for-contact input {
    width: 100%;
    padding: 15px 0;
    text-align: center;
  }

  .footer-colums {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px 0 0 0;
  }

  .social-net {
    flex-direction: row;
  }

  .description-box,
  .page-desription {
    width: 100%;
    text-align: justify;
  }

  .sec2,
  .consept-company,
  .our-project,
  .form,
  footer {
    padding: 20px;
  }

  .form-for-contact input {
    margin: 10px 0;
  }

  .but-less {
    padding: 15px 20px;
  }

  .project-box {
    padding: 20px 0 0 0;
  }

  .num-email-nav {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background: #A38558;
    background: linear-gradient(to right, #A38558 0%, #CEB279 8%, #FCF8B5 60%, #A38558 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 15px;
  }

  .navbar {
    padding: 10px 20px;
  }

  .menu-button-container {
    margin-right: 20px;
  }

  .logo-desc {
    gap: 10px;
  }

  .num-email-nav a,
  .num-email-nav p {
    font-size: 12px;
  }
  .name-company {
    width: 105px;
  }
}