.dropbtn {
  background: url('http://icons.iconarchive.com/icons/custom-icon-design/flag-3/16/Russia-Flag-icon.png') no-repeat left center;
  padding-left: 20px;
  margin-right: 10px;
  width: 40px;
}
