@font-face {
  font-family: Montserrat Alternates;
  src: url(/Montserrat_Alternates/MontserratAlternates-ExtraLight.ttf)
}

@font-face {
  font-family: Montserrat Alternates Bold;
  src: url(/Montserrat_Alternates/MontserratAlternates-SemiBold.ttf)
}

body {
  font-family: Montserrat Alternates;
}



* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
  background-color: #050505;
  color: rgba(255, 255, 255, 1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.logo-desc {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-item {
  display: flex;
  gap: 15px;
}

.nav-item a {
  background: #A38558;
  background: linear-gradient(to right, #A38558 0%, #CEB279 8%, #FCF8B5 60%, #A38558 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 19px;
  font-weight: 300;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu>li {
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background: #A38558;
  background: linear-gradient(to right, #A38558 0%, #CEB279 8%, #A38558 100%);
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.name-company {
  width: 130px;
}

.main-page {
  height: 100vh;
  background-image: url(/mainPage.JPEG);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 1);

}

.form-for-contact input {
  font-family: Montserrat Alternates;
}

.num-email-nav {
  display: none;
}

.about-company {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 20%;
  gap: 20px;
}

.page-title {
  font-size: 70px;
  text-align: center;
  line-height: 70px;
}

.description-title {
  font-size: 25px;
  max-width: 700px;
  text-align: right;
}

.button-sub {
  padding: 15px 30px;
  background-image: linear-gradient(to right, #D1913C 0%, #FFD194 51%, #D1913C 100%);
  transition: all 0.7s ease-in-out;
  color: white;
  background-size: 200% auto;
  font-family: Montserrat Alternates Bold;
}

.df {
  display: flex;
  gap: 50px;
}

.button-col {
  padding: 15px 30px;
  color: rgba(255, 255, 255, 1);
  border-radius: 30px;
  font-size: 16px;
  background-image: linear-gradient(to right, #D1913C 0%, #FFD194 51%, #D1913C 100%);
  transition: all 0.7s ease-in-out;
  box-shadow: 0 0 20px #eee;
  border-radius: 20px;
  display: block;
  background-size: 200% auto;
  margin-top: 20px;
  font-family: Montserrat Alternates Bold;
}


.button-col:hover,
.button-sub:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}


.min {
  font-size: 45px;
  text-align: left;
  line-height: 45px;
  margin-top: 20px;
}

.sec2 {
  background-color: rgb(255, 255, 255);
  display: flex;
  padding: 50px;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.description-box {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 30px;
}


.foto-logo {
  width: 100px;
  border-radius: 20px;
  margin: 10px;
  height: 100px;
  object-fit: contain;
}

.box-img {
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.form-for-contact input {
  margin: 10px;
}

.page-desription {
  font-size: 18px;
  text-align: left;
  line-height: 25px;
}

.but-white {
  text-align: center;
  color: rgb(220 161 82);
  background-color: white;
  -webkit-box-shadow: 0px 2px 18px 7px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 2px 18px 7px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 2px 18px 7px rgba(34, 60, 80, 0.2);
  padding: 15px 20px;
  border-radius: 20px;
  font-size: 17px;
  font-family: Montserrat Alternates Bold;
}

.advantages {
  padding: 50px;
  background-color: rgb(241 242 242);
}

.adv-img {
  width: 80px;
  border-radius: 100px;
  -webkit-box-shadow: 0px 2px 18px 7px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 2px 18px 7px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 2px 18px 7px rgba(34, 60, 80, 0.2);
}

.box {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.advantage-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 300px;
}

.advantage-item p {
  text-align: center;
  font-size: 17px;
  color: rgb(88 88 88);
}

.advantage-item h3 {
  font-size: 25px;
  text-align: center;
}

.our-project {
  text-align: center;
  padding: 50px;
  background-color: rgb(245 245 245);
}

.project-box {
  padding: 20px;
  display: flex;
  gap: 20px;
}

.proj-box-item {
  border: 1px solid rgb(254, 201, 132);
  border-radius: 20px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 2px 18px 7px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 2px 18px 7px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 2px 18px 7px rgba(34, 60, 80, 0.2);
}

.our-project p {
  font-size: 17px;
  margin-top: 10px;
}

.proj-text {
  font-size: 20px;
}

.page-title2 {
  font-size: 50px;
  text-align: center;
  line-height: 50px;
}

.title-bold {
  text-transform: uppercase;
  color: white;
  font-family: Montserrat Alternates Bold;
}

.back-foto {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-image: url(/back5.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 360px;
  background-position: 0% 24%;
}

.back-foto p {
  font-size: 20px;
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
}

.consept-company {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.consept-company h2 {
  color: rgb(76 76 76);
  font-weight: 400;
  margin: 15px 0;
}

.consept-item {
  display: flex;
  gap: 20px;
  margin: 40px 0;
  align-items: center;
  justify-content: center;
}

.consept-item h3 {
  font-size: 25px;
  margin-bottom: 10px;
}

.consept-item p {
  color: rgb(76 76 76);
  width: 700px;
}

.num {
  font-size: 19px;
  z-index: 5;
  color: rgb(220 161 82);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  -webkit-box-shadow: 0px 2px 18px 7px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 2px 18px 7px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 2px 18px 7px rgba(34, 60, 80, 0.2);
}

.stage-list {
  position: relative;
}

.line {
  color: rgb(230 230 230);
  position: absolute;
  top: 60px;
  left: 50%;
  height: 100%;
  border: 1px dashed;
}

.line-more {
  height: 143px;
}

.nuans {
  text-align: justify;
  font-style: italic;
}

.grey-discrip {
  font-size: 20px;
  width: 800px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.form {
  height: 360px;
  background-image: url(/back3.JPEG);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
}

.social-net img {
  width: 50px;
}

.form-for-contact input {
  padding: 15px 20px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
  font-family: Montserrat Alternates Bold;
}

footer {
  padding: 50px;
  background-color: #050505;
  color: white;
}

.footer-nav {
  display: flex;
  flex-direction: column;

}

.footer-nav a {
  color: white;
  font-weight: 300;
  transition: all 0.5s ease-in-out;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.footer-colums {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin: 30px 0;
  align-items: center;
}

.dropbtn {
  font-family: Montserrat Alternates;
  border: none;
  font-size: 15px;
  color: white;
  padding: 5px;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 70px;
}

.lang-ru {
  background: url('http://icons.iconarchive.com/icons/custom-icon-design/flag-3/16/Russia-Flag-icon.png') no-repeat left 5px center;
}

.lang-en {
  background: url('https://icons.iconarchive.com/icons/fatcow/farm-fresh/16/flag-usa-icon.png') no-repeat left 5px center;
}

.lang-tr {
  background: url(/flag-tr.jpeg) no-repeat left 5px center;
  background-size: 20px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  /* padding: 2px 0 2px 25px; */
  padding: 10px 30px;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.num-email a {
  color: white;
}
